<div class="book-summary">
    <nav role="navigation">
        <div class="main-section">
            {% if site.data.parts.partOne.contents[0] %}
          
                {% for item in site.data.parts.partOne.contents %}
                    <h2>{{ item.title }}</h2>
                    {% if item.subfolderitems[0] %}
                        <ul>
                            {% for entry in item.subfolderitems %}
                            <li> 
                            <h3> {{ entry.chapter }}</h3>
                            
                                {%  if entry.subsubfolderitems[0] %}
                                    <ul>
                                        {% for subentry in entry.subsubfolderitems %}
                                                <li> 
                                                    <a class="chapter-link" href ="{{ subentry.url }}"> {{ subentry.title }}</a>
                                                </li>
                                        {% endfor %}
                                    </ul>
                        
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </nav>
</div>